.centerTheDiv {
  text-align: center;
}
.paddingTop {
  padding: 4%;
}
.listButtonMargin {
  margin-left: 26% !important;
}

input {
  margin: 0.2%;
}

input[type="password"] {
  margin-left: 1%;
}

input[type="submit"] {
  margin-left: 18%;
  padding: 0.4%;
  border-radius: 15%;
  background-color: aqua;
}
.flexContainer {
  display: flex;
  padding-top: 20%;
  padding-left: 25%;

  width: 50%;
}
.formDiv {
  background-color: grey;
  z-index: 12;
  position: relative;
  border: 1px solid black;
}
.submitButton {
  text-align: right;
}
.signOut {
  float: right;
  padding-top: 2%;
  padding-right: 10%;
}
.logoutButton {
  color: red;
  background-color: white;
  border-radius: 18%;
  width: 90%;
}
.showProductList {
  padding-left: 12.6%;
  padding-top: 2%;
}
